@use "sass:map";
@use "../variables" as *;

.search-wrapper {
  position: relative;
}

.search-inner {
  position: relative;
  margin-bottom: map.get($config, spacing) * 2;
  padding: 0;
  border-radius: var(--body-border-radius);
  background-color: var(--secondary-color);

  .search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
}

input[type="search"] {
  width: 100%;
  margin: 0;
  padding: 9px 4px 9px 38px;
  border: 1px solid var(--border-color);
  border-radius: inherit;
  background-color: var(--secondary-color);
  color: inherit;
  font-size: inherit;

  &:focus {
    border-color: var(--secondary-link-color);
    outline: 0 none;
  }

  &::placeholder {
    color: var(--third-font-color);
    font-family: map.get($config, font-family);
  }

  .is-active & {
    border-radius: var(--body-border-radius) var(--body-border-radius) 0 0;
  }
}

.search-result {
  position: absolute;
  z-index: 400;
  top: 100%;
  right: 0;
  left: 0;
  max-height: 300px;
  margin-top: -1px;
  padding: 0;
  overflow: auto;
  border: 1px solid var(--border-color);
  border-radius: 0 0 var(--body-border-radius) var(--body-border-radius);
  opacity: 0;
  background-color: var(--secondary-color);
  pointer-events: none;

  .is-active & {
    border-color: var(--secondary-link-color);
    outline: 0 none;
    opacity: 1;
    pointer-events: auto;
  }

  ul {
    margin: 0;
    margin: 0.5rem;
    list-style: none;
  }

  li {
    display: block;
    width: 100%;
    padding: 0.25rem;

    &:hover {
      background-color: var(--primary-color);
    }
  }

  a {
    display: block;
    width: 100%;
  }
}
