// Layout: Themes
[data-theme="light"] .display-light,
[data-theme="dark"] .display-dark {
  display: block !important;
  color: var(--primary-link-color);
}

[data-theme="light"] .display-light:hover,
[data-theme="dark"] .display-dark:hover {
  display: block !important;
  color: var(--secondary-link-color);
}
