// Utility: Hidden
.hidden {
  display: none !important;

  &--v {
    visibility: hidden;
  }
}

.visually-hidden {
  clip: rect(1px,1px,1px,1px)!important;
  border: 0!important;
  -webkit-clip-path: inset(50%)!important;
  clip-path: inset(50%)!important;
  height: 1px!important;
  margin: -1px!important;
  overflow: hidden!important;
  padding: 0!important;
  position: absolute!important;
  white-space: nowrap!important;
  width: 1px!important;
}
