@use "../mixins" as *;

// Element: Root
@include mix-root;
@include mix-themes;

:root[data-theme="light"] {
  color-scheme: light;
}

:root[data-theme="dark"] {
  color-scheme: dark;
}

[data-theme="light"] .display-light,
[data-theme="dark"] .display-dark {
  display: block !important;
  color: var(--primary-link-color);
}

[data-theme="light"] .display-light:hover,
[data-theme="dark"] .display-dark:hover {
  display: block !important;
  color: var(--secondary-link-color);
}
