@use "sass:map";
@use "../variables" as *;

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: map.get($pagination, font-size);
  list-style: none;
  gap: map.get($pagination, gap);

  &--item {
    display: flex;
    align-items: center;
    padding: 0.125rem 0.5rem;
  
    &.is-active {
      border: map.get($pagination, active-border);
      border-radius: map.get($pagination, active-border-radius);
      background-color: map.get($pagination, active-background-color);
    }
  }  
}
