// Variables: Default config
$config: (
  font-family: (
    "Inter",
    "Inter-fallback",
    helvetica,
    sans-serif,
  ),
  font-size: 1.125rem,
  font-weight: 400,
  font-size-small: 0.9rem,
  line-height: 1.8,
  line-height-heading: 1.5,
  border-radius: 0.25rem,
  spacing: 1.5rem,
  container-width: 50rem,
  container-fluid-width: 100%,
) !default;

:root {
  @each $item, $value in $config {
    --body-#{$item}: #{$value};
  }
}
